@model List<PhoneBook.Models.PersonModel>

@if (string.IsNullOrWhiteSpace((string)@TempData["message"]) == false)
{
    <section>
        <div class = " @TempData["alertclass"] ">
            @TempData["message"]
        </div>
    </section>
}

<div>
    <section class="float-left ml-3 my-1">
        <a href="/Person/Add" class="btn btn-success" style="width: 100px;">Dodaj</a>
    </section>
    <section class="float-right mr-3 my-1">
        <form asp-action="Index" method="get">
            <input type="text" id="SearchText" name="SearchText" class="form-control d-inline align-bottom" placeholder="Szukaj Nazwiska" style="width: 250px;" value="@ViewBag.SearchText" />
            <input type="submit" class="btn btn-warning" value="Szukaj" style="width: 100px;"/>
        </form>
    </section>
</div>

<section>
    <div class="container">
        <table class="table table-responsive-lg table-striped">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Utworzone</th>
                <th>Aktualizowane</th>
                <th>Akcja</th>
            </tr>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Phone</td>
                    <td>@person.Email</td>
                    <td>@person.Created</td>
                    <td>@person.Updated</td>
                    <td><a href="/Person/Edit/@person.ID" style="color: #dda200">Edycja</a> | <a href="/Person/Remove/@person.ID" class="text-danger">Usuń</a></td>
                </tr>
            }
        </table>
    </div>
</section>

<section class="row mb-4">
    <div class="col-sm-4">
        <a href="/Person/Index/?id=@ViewBag.Previous&searchText=@ViewBag.SearchText" class="btn btn-info ml-5 @ViewBag.PreviousDis float-left">Poprzednia strona</a>
    </div>
    <span class="col-sm-4 text-center">Strona @ViewBag.Page</span>
    <div class="col-sm-4">
        <a href="/Person/Index/?id=@ViewBag.Next&searchText=@ViewBag.SearchText" class="btn btn-info mr-5 @ViewBag.NextDis float-right"> Następna strona </a>
    </div>
</section>

